.px2-float-media {
	margin-top: 1em;
	margin-bottom: 1em;

	&__caption{
		font-size: 0.77em;
		margin-top: 0.5em;
		line-height: 1.3;
	}
	&__body {
		&-rect {
			*:first-child {
				margin-top: 0;
			}
		}
	}
}
