<div class="px2-image-slider"{% if _ENV.mode == 'canvas' %} style="padding-top: 12px;"{% endif %}>
	<div class="px2-image-slider__contents">
		<ul rel="container" class="keen-slider">{{ _context["image-list"] }}</ul>
	</div>
</div>
