@charset 'UTF-8';

<?= (new \tomk79\pickles2\px2dthelper\main($px))->document_modules()->build_css(); ?>

.contents {
    position: relative;
}

pre {
    padding: 0;
    > code {
        display: block;
        padding: 1em;
        margin: 0;
        overflow: auto;
    }
}
