.px2-viewport-fit {
	box-sizing: border-box;
	margin: 0 auto;
	position: relative;

	&__inner {
		box-sizing: border-box;
		margin: 0;
		position: relative;
	}
	&__contents {
		margin: 0 auto;

		&--fluid {
			width: 100%;
			max-width: 100%;
		}
	}
}
