.px2-btn.pseudo-class-focus,
.px2-btn.pseudo-class-hover {
  background-color: #666;
  color: #eee;
  outline: none;
}

.px2-btn.pseudo-class-active {
  box-shadow: inset 0 3px 15px rgba(0, 0, 0, 0.3);
}

.px2-btn.px2-btn--primary.pseudo-class-focus,
.px2-btn.px2-btn--primary.pseudo-class-hover {
  background: #00a0e6;
  color: #fff;
}

.px2-btn.px2-btn--secondary.pseudo-class-focus,
.px2-btn.px2-btn--secondary.pseudo-class-hover {
  background: #999;
  color: #fff;
}

.px2-btn.px2-btn--danger.pseudo-class-focus,
.px2-btn.px2-btn--danger.pseudo-class-hover {
  background: #e86a60;
  color: #fff;
}

.px2-btn.px2-btn--download.pseudo-class-focus,
.px2-btn.px2-btn--download.pseudo-class-hover {
  background: #4ad64d;
  color: #fff;
}

.px2-btn[disabled].pseudo-class-focus,
.px2-btn[disabled].pseudo-class-hover {
  border-color: #ddd;
  background-color: #f9f9f9;
  color: #ddd;
  cursor: default;
}