.px2-section {
	margin-top: 1em;
	margin-bottom: 1em;
}
.px2-section.px2-section--framed {
	border: 1px solid #ddd;
	border-radius: 8px;
	box-sizing: border-box;
	background-color: #fff;
	margin-left: -15px;
	margin-right: -15px;

	.px2-section__heading {
		padding: 0.75em 15px;
		box-sizing: border-box;
		border-bottom: 1px solid #ddd;

		*,
		.px2-h2, h2,
		.px2-h3, h3,
		.px2-h4, h4,
		.px2-h5, h5,
		.px2-h6, h6 {
			margin-top: 0px;
			margin-bottom: 0px;
			small {
				font-size: 80%;
			}
		}
	}
	.px2-section__body {
		padding: 0.75em 15px;
		box-sizing: border-box;
	}
}
