$px2-font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Meiryo", "Helvetica Neue", "Arial", sans-serif;
$px2-main-color: #00a0e6;
$px2-text-color: #333;
$px2-background-color: #f9f9f9;

// px2style
@import '../src_px2style/_src/form/_form.css.scss';
@import '../src_px2style/_src/modal/_modal.css.scss';
@import '../src_px2style/_src/notice/_notice.css.scss';
@import '../src_px2style/_src/loading/_loading.css.scss';
