table.px2-table {
	border: none;
	border-collapse: collapse;
	margin: 0;
	text-align: left;
	border: 1px solid #dee2e6;

	th,
	td {
		border: 1px solid #dee2e6;
		background: #fff;
		padding: 0.4em 1em;
	}

	th {
		background: #f9f9f9;
	}

	thead th,
	tfoot th {
		background: #eee;
		text-align: center;
	}

	thead td,
	tfoot td {
		background: #eee;
	}

	&--left{
		margin: 0 auto 0 0;
	}
	&--center{
		margin: 0 auto 0 auto;
	}
	&--right{
		margin: 0 0 0 auto;
	}

	&--dl {
		width: 100%;
		th {
			width: 30%;
		}
		td {
			width: 70%;
		}
		@media all and (max-width: 440px) {
			display: block;
			box-sizing: border-box;
			border-top: none;
			border-left: none;
			border-right: none;
			tbody,
			thead,
			tr,
			th,
			td {
				display: block;
				box-sizing: border-box;
				width: 100%;
			}
			th,
			td {
				border-bottom: none;
			}
		}
	}

	th > *:first-child,
	td > *:first-child {
		margin-top: 0;
	}
	th > *:last-child,
	td > *:last-child {
		margin-bottom: 0;
	}
}
