@layer base {
  html,
  body {
    margin: 0;
    padding: 0;
    font-size: medium;
    font-family: Meiryo, "Hiragino Kaku Gothic ProN", Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.43;
    color: #333;
    background-color: #eee;
  }
  .current {
    font-weight: bold;
  }
  img,
  svg,
  video {
    max-width: 100%;
    height: auto;
  }
  pre {
    border: 1px solid #e1e1e8;
    background-color: #f7f7f9;
    border-radius: 4px;
  }
  pre > code {
    display: block;
    padding: 1em;
    overflow: auto;
  }
  code {
    color: #d44950;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
  }
  h1 {
    font-size: 36px;
  }
  a {
    color: var(--theme-keycolor);
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  p, ul, ol, dl {
    margin: 1em 0;
  }
  dl dd {
    margin-left: 2em;
  }
  p, li, dt, dd {
    line-height: 1.6;
  }
}