.px2-viewport-fit {
  box-sizing: border-box;
  width: 0;
  margin: 0 auto;
  position: relative;
}
.px2-viewport-fit__inner {
  box-sizing: border-box;
  width: calc(100vw);
  position: relative;
  left: calc(-50vw);
}
.px2-viewport-fit__contents {
  margin: 0 auto;
  width: 1024px;
  max-width: calc(100% - 40px);
}
.px2-viewport-fit__contents--fluid {
  width: 100%;
  max-width: 100%;
}
