<div class="broccoli-module-px2style-image-list">
    <div class="broccoli-module-px2style-image-list__inner">
        <ul ref="container" class="broccoli-module-px2style-image-list__slider">
        </ul>
        <div class="broccoli-module-px2style-image-list__slider-ctrls-prev"><button type="button" class="broccoli-module-px2style-image-list__slider-btn-prev"></button></div>
        <div class="broccoli-module-px2style-image-list__slider-ctrls-next"><button type="button" class="broccoli-module-px2style-image-list__slider-btn-next"></button></div>
    </div>
    <ul class="broccoli-module-px2style-image-list__menu">
        <li><button type="button" class="broccoli-module-px2style-image-list__btn-add" data-trig="slide-prepend">スライドを前に追加</button></li>
        <li><button type="button" class="broccoli-module-px2style-image-list__btn-add" data-trig="slide-append">スライドを後ろに追加</button></li>
    </ul>
</div>
