<div class="broccoli-module-px2style-image-list">
	<div class="broccoli-module-px2style-image-list__inner">
		<div class="px2-p px2-text-align-right">
			<button type="button" class="px2-btn broccoli-module-px2style-image-list__btn-add" data-trig="slide-append">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
					<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
				</svg> {{ lb.get('ui_label.add_new_slide') }}
			</button>
		</div>
		<ul ref="container" class="broccoli-module-px2style-image-list__slider">
		</ul>
		<div class="broccoli-module-px2style-image-list__slider-ctrls-prev"><button type="button" class="px2-btn broccoli-module-px2style-image-list__slider-btn-prev"></button></div>
		<div class="broccoli-module-px2style-image-list__slider-ctrls-next"><button type="button" class="px2-btn broccoli-module-px2style-image-list__slider-btn-next"></button></div>
	</div>
</div>
