<div class="broccoli-module-px2style-image-list">
    <ul ref="container" class="broccoli-module-px2style-image-list__slider">
        <li class="broccoli-module-px2style-image-list__slider-slide"><button type="button" class="broccoli-module-px2style-image-list__slider-btn-add" data-trig="slide-suppend">+</button></li>
        <li class="broccoli-module-px2style-image-list__slider-slide"><button type="button" class="broccoli-module-px2style-image-list__slider-btn-add" data-trig="slide-append">+</button></li>
    </ul>
    <ul class="broccoli-module-px2style-image-list__slider-ctrls">
        <li class="broccoli-module-px2style-image-list__slider-ctrls-prev"><button type="button" class="broccoli-module-px2style-image-list__slider-btn-prev">←</button></li>
        <li class="broccoli-module-px2style-image-list__slider-ctrls-next"><button type="button" class="broccoli-module-px2style-image-list__slider-btn-next">→</button></li>
    </ul>
</div>
