<div class="broccoli-module-px2style-image-list">
	<div class="broccoli-module-px2style-image-list__inner">
		<ul ref="container" class="broccoli-module-px2style-image-list__slider">
		</ul>
		<div class="broccoli-module-px2style-image-list__slider-ctrls-prev"><button type="button" class="px2-btn broccoli-module-px2style-image-list__slider-btn-prev"></button></div>
		<div class="broccoli-module-px2style-image-list__slider-ctrls-next"><button type="button" class="px2-btn broccoli-module-px2style-image-list__slider-btn-next"></button></div>
		<div class="broccoli-module-px2style-image-list__slider-ctrls-prepend"><button type="button" class="px2-btn broccoli-module-px2style-image-list__btn-add" data-trig="slide-prepend"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
			<path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
		</svg></button></div>
		<div class="broccoli-module-px2style-image-list__slider-ctrls-append"><button type="button" class="px2-btn broccoli-module-px2style-image-list__btn-add" data-trig="slide-append"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
			<path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
		</svg></button></div>
	</div>
</div>
