<div class="broccoli-module-px2style-image-list">
    <ul ref="container" class="broccoli-module-px2style-image-list__slider keen-slider">
        <li class="broccoli-module-px2style-image-list__slider-slide"><button type="button" class="broccoli-module-px2style-image-list__slider-btn-add" data-trig="slide-suppend">+</button></li>
        <li class="broccoli-module-px2style-image-list__slider-slide"><button type="button" class="broccoli-module-px2style-image-list__slider-btn-add" data-trig="slide-append">+</button></li>
    </ul>
</div>
