/**
 * Table
 */
.px2-table{
	color: $darkmode-text-color;

	th,
	td {
		border-color: #666;
		background: $darkmode-background-color;
	}

	th {
		background: #222;
	}

	thead th,
	tfoot th {
		background: #333;
	}

	thead td,
	tfoot td {
		background: #111;
	}
}
