<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Pickles 2 styles GUIDE</title>
		<link rel="stylesheet" href="./styles.css" type="text/css" />
		<style>
			li{
				padding: 10px 0;
			}
		</style>
	</head>
	<body>

<h1>px2style</h1>

<h2>editor types</h2>
<ul>
	<li><span class="px2-editor-type__page-not-exists"></span></li>
	<li><span class="px2-editor-type__not-exists"></span></li>
	<li><span class="px2-editor-type__html"></span></li>
	<li><span class="px2-editor-type__html-gui"></span></li>
	<li><span class="px2-editor-type__md"></span></li>
	<li><span class="px2-editor-type__txt"></span></li>
	<li><span class="px2-editor-type__jade"></span></li>
</ul>

<h2>Buttons</h2>
<h3>elements</h3>
<ul>
	<li><button class="px2-btn">button.px2-btn</button></li>
	<li><input class="px2-btn" type="submit" value="input[type=submit].px2-btn" /></li>
	<li><input class="px2-btn" type="button" value="input[type=button].px2-btn" /></li>
	<li><a href="javascript:;" class="px2-btn">a.px2-btn</a></li>
</ul>
<h3>sizing</h3>
<ul>
	<li><button class="px2-btn px2-btn--sm">px2-btn px2-btn--sm</button></li>
	<li><button class="px2-btn">px2-btn</button></li>
	<li><button class="px2-btn px2-btn--lg">px2-btn px2-btn--lg</button></li>
	<li><button class="px2-btn px2-btn--block">px2-btn px2-btn--block</button></li>
	<li><a href="javascript:;" class="px2-btn px2-btn--block">px2-btn px2-btn--block</a></li>
</ul>
<h3>intention</h3>
<ul>
	<li><button class="px2-btn">px2-btn (default)</button></li>
	<li><button class="px2-btn px2-btn--primary">px2-btn px2-btn--primary</button></li>
	<li><button class="px2-btn px2-btn--secondary">px2-btn px2-btn--secondary</button></li>
	<li><button class="px2-btn px2-btn--danger">px2-btn px2-btn--danger</button></li>
	<li><button class="px2-btn px2-btn--download">px2-btn px2-btn--download</button></li>
</ul>

<h2>Loading</h2>
<ul>
	<li><div class="px2-loading"></div></li>
</ul>

<script type="text/javascript" src="./scripts.js"></script>
	</body>
</html>
